// 全局样式
@import './var'
@import './reset'

html,
body,
#app {
  height: 100%
}

body {
  margin: 0 auto
  max-width: 750px
  font-family: PingFangSC-Regular, '微软雅黑', 'Microsoft YaHei', Helvetica, STHeiTi, Sans-serif
  line-height: 1.5
  font-size: .28rem
  background: $silver
  color: $black
  -webkit-text-size-adjust: none
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
  outline: 0
  overflow-x: hidden
  -webkit-user-select: none
  /* -webkit-overflow-scrolling: touch */
}

#app {
  position: relative
}


// ======================================================================
// 隐藏 vue 未编译的 Mustache 标签
[v-cloak],
.hidden {
  display: none
}

.v-link-active {
  color: $blue
}

// 隐藏元素
.vhidden {
  visibility: hidden
}

// 超出隐藏（防滚动）
.ohidden {
  overflow: hidden
}

// input-placeholder
input {
  &::-webkit-input-placeholder {
    color: $placeholder
  }
  &::-moz-placeholder {
    color: $placeholder
  }
  &:-moz-placeholder {
    color: $placeholder
  }
  &:-ms-input-placeholder {
    color: $placeholder
  }
}

// 动画
// vue transitions
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform
  transition: all 300ms
  position: absolute
  left: 0
  right: 0
}
.slide-right-enter {
  transform: translateX(-100%)
}
.slide-right-leave-active {
  transform: translateX(100%)
}
.slide-left-enter {
  transform: translateX(100%)
}
.slide-left-leave-active {
  transform: translateX(-100%)
}

.fade-enter-active,
.fade-leave-active {
  /*-webkit-transition: all 300ms*/
  transition: all 300ms
}
.fade-enter {
  opacity: 0
}
.fade-leave-active {
  display: none
}

.fade-all-enter-active,
.fade-all-leave-active {
  /*-webkit-transition: all 300ms*/
  transition: all 300ms
}
.fade-all-enter,
.fade-all-leave-active {
  opacity: 0
}

.slide-enter-active,
.slide-leave-active {
  /*-webkit-transition: all 300ms*/
  transition: all 300ms
}
.slide-enter {
  -webkit-transform: translate3d(.3rem, 0, 0)
  transform: translateX(.3rem)
  opacity: 0
}
.slide-leave-active {
  display: none
}

.slide-all-enter-active,
.slide-all-leave-active {
  transition: all 300ms
}
.slide-all-enter,
.slide-all-leave-active {
  transform: translateX(.3rem)
  opacity: 0
  &.t-reverse {
    transform: translateX(-.3rem)
  }
}

.slide-up-enter-active,
.slide-up-leave-active,
.slide-down-enter-active,
.slide-down-leave-active {
  will-change: transform
  transition: all 300ms
}
.slide-up-enter,
.slide-up-leave-active {
  transform: translateY(100%)
}
.slide-down-enter,
.slide-down-leave-active {
  transform: translateY(-100%)
}
.bounce-enter-active {
  animation: bounce 300ms
}
.bounce-leave-enter,
.bounce-leave-active {
  display: none
}
.bounce-all-enter-active {
  animation: bounce 300ms
}
.bounce-all-leave-active {
  transition: all 200ms
}
.bounce-all-enter {
  transform: scale(1)
}
.bounce-all-leave-active {
  transform: scale(0)
  opacity: 0
}
@keyframes bounce {
  0% {transform: scale(0)}
  50% {transform: scale(1.2)}
  100% {transform: scale(1)}
}

.zoom-y-enter-active,
.zoom-y-leave-active {
  transition: all 300ms
  transform: scaleY(1.0)
  transform-origin: top
}
.zoom-y-enter,
.zoom-y-leave-active {
  transform: scaleY(0)
  opacity: 0
}

/* Retina 屏实现真正 1px 的线，四条线最多可同时用两条 */
.hairlines-top,
.hairlines-bottom {
  position: relative;
  /*border-bottom-color: transparent !important;*/
}
.hairlines-top {
  border-top-color: transparent !important;
}
.hairlines-bottom {
  border-bottom-color: transparent !important;
}
.hairlines-left {
  border-left-color: transparent !important;
}
.hairlines-right {
  border-right-color: transparent !important;
}
.hairlines-left::before,
.hairlines-right::after,
.hairlines-top::before,
.hairlines-bottom::after {
  content: '';
  position: absolute;
  /*z-index: 0;*/
  /*bottom: -1px;*/
  /*left: 0;*/
  /*right: 0;*/
  /*height: 1px;*/
  background: $solid-gray;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.hairlines-left::before,
.hairlines-right::after {
  top: 0;
  bottom: 0;
  width: 1px;
  -webkit-transform: scaleX(.5);
  transform: scaleX(.5);
}
.hairlines-left::before {
  left: -1px;
  right: auto;
}
.hairlines-right::after {
  right: -1px;
  left: auto;
}
.hairlines-top::before,
.hairlines-bottom::after {
  left: 0;
  right: 0;
  height: 1px;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
}
.hairlines-top::before {
  top: -1px;
}
.hairlines-bottom::after {
  bottom: -1px;
}


// ======================================================================
// 模块
// ======================================================================

/* 单个右箭 */
.m-arrow-right {
  width: .2rem
  height: .2rem
  border: .02rem solid $gray
  border-left: none
  border-bottom: none
  transform: rotate(45deg)
  &.down {
    transform: rotate(135deg) translate(-.03rem, .03rem)
  }
}

/* 单个单选圆框 */
.m-radio {
  position: relative
  width: .4rem
  height: .4rem
  border: .02rem solid #c5c3d5
  border-radius: 50%
  box-sizing: border-box
  transition: all 300ms
  &.selected {
    border: none
    background: $theme
    box-sizing: content-box
    &:before {
      content: ''
      display: block
      position: absolute
      left: 1px
      right: 1px
      top: 1px
      bottom: 1px
      border: .02rem solid $white
      border-radius: 50%
    }
  }
}

/* 单个多选圆框 */
.m-checked {
  position: relative
  width: .4rem
  height: .4rem
  border: .02rem solid transparent
  background: transparent
  vertical-align: middle
  &.round {
    border-color: #c5c3d5
    border-radius: 100%
  }
  &.checked {
    &:after {
      content: ''
      position: absolute
      top: .04rem
      left: .14rem
      width: .1rem
      height: .24rem
      border: .02rem solid $theme
      border-top: 0
      border-left: 0
      transform: rotate(45deg)
      transition: all 300ms
    }
    &.fill {
      background: $theme
      border-color: $theme
      &:after {
        border-color: $white
      }
    }
  }
}
