// 重置Mint-UI主题样式模块

@import './var'

// =================================================================================
// UI组件
// =================================================================================

/* Loading */
.mint-indicator {
  position: relative
  z-index: 1000
}
.mint-indicator-spin {
  display: block
  margin: -5px
  .mint-spinner-snake {
    border: none
    background: url('../img/loading.png') center center no-repeat
    background-size: contain
  }
}

/* Switch组件 */
.mint-switch {
  height: .56rem
  .mint-switch-input:checked + .mint-switch-core,
  &.checked .mint-switch-core {
    background-color: rgba($theme, 0.3)
    &:after {
      background-color: rgba($theme, 1)
      box-shadow: 0 .02rem .04rem 0 rgba($theme, 0.6)
      transform: translateX(.4rem)
    }
  }
  .mint-switch-core {
    width: .88rem
    height: .32rem
    border: none
    background: transparent
    &:before {
      width: .86rem
      height: .32rem
      background-color: rgba($light-gray, 0.3)
    }
    &:after {
      top: -.08rem
      width: .48rem
      height: .48rem
      background-color: rgba($light-gray, 1)
      box-shadow: 0 .02rem .04rem 0 rgba($light-gray, 0.66)
    }
  }
}

/* Toast */
.mint-toast {
  .mint-toast-icon {
    &.icon-success {
      margin: 0 auto
      width: 1.3rem
      height: .78rem
      background: url('../img/toast_success.png') center center no-repeat
      background-size: contain
    }
  }
}

/* MessageBox */
.mint-msgbox {
  width: 72%
  font-size: .3rem
  border-radius: .12rem
  .mint-msgbox-header {
    padding-top: .35rem
  }
  .mint-msgbox-title {
    color: $black
    line-height: .34rem
    font-size: .34rem
    font-weight: normal
  }

  .mint-msgbox-content {
    padding: .48rem .4rem
    min-height: 0
  }
  .mint-msgbox-message {
    line-height: .4rem
    color: $black
  }
  .mint-msgbox-header {
    ~ .mint-msgbox-content {
      padding-top: .28rem
      padding-bottom: .28rem
    }
  }

  .mint-msgbox-btns {
    height: .88rem
    line-height: .88rem
    font-size: .32rem
    .mint-msgbox-cancel {
      line-height: .88rem
      color: $black
      border-color: $solid-gray
      &:active {
        opacity: 0.5
      }
    }
    .mint-msgbox-confirm {
      line-height: .88rem
      color: $theme
      &:active {
        opacity: 0.5
      }
    }
  }
}
