// 重置Mint-UI主题样式模块

@import './var'

// =================================================================================
// UI组件
// =================================================================================

/* Loading */
.mint-indicator {
  position: relative
  z-index: 1000
}
.mint-indicator-spin {
  display: block
  margin: -5px
  .mint-spinner-snake {
    border: none
    background: url('../img/loading.png') center center no-repeat
    background-size: contain
  }
}

/* IndexList组件 */
.mint-indexlist {
  .mint-indexlist-content {
    margin-right: 0 !important
    .mint-indexsection-index {
      height: .4rem
      line-height: .4rem
      padding: 0 .3rem
      background: $silver
      font-size: $font-smaller
    }
    .mint-indexsection-item {
      padding: 0 .3rem
      height: .9rem
      line-height: .9rem
      background: $white
      font-size: $font-small
    }
  }

  .mint-indexlist-nav {
    top: .7rem
    bottom: auto
    right: .1rem
    border-left: none
    background: transparent
    .mint-indexlist-navitem {
      padding: 0
      font-size: $font-smaller
      line-height: .36rem
    }
  }

}
