// 重置Vant主题样式模块

@import './var'

// =================================================================================
// 重置UI组件
// =================================================================================

// Toast.loading 组件
.van-loading-custom.ignore {
  padding: 0
  width: 1.2rem
  height: 1.2rem
  min-height: 0
}

// =================================================================================
// 高优先级重置UI组件
// =================================================================================

// #app {
//   // 通用遮罩层
//   .van-overlay {
//     background:rgba(14, 46, 70, 0.36)
//   }
// }
