// 重置Vant主题样式模块

@import './var'

// =================================================================================
// UI组件
// =================================================================================

// Toast.loading 组件
.van-loading-custom.ignore {
  padding: 0
  width: 1.2rem
  height: 1.2rem
  min-height: 0
}
