// 全局变量
$white ?= #fff
$black ?= #3a3a3a
$gray ?= #70757b
$light-gray ?= #b9c7d2
$solid-gray ?= #e6e8ee

$theme = $blue
$theme-sub = $red
$blue ?= #4d75fe
$brown ?= #c19f71
$red ?= #f7504b

$silver ?= #eff1f3
